<section id="my_skills_section">
  <div class="skills-mobile-btn">
    <a href="#contact_section"><button>{{'my_skills_button' | translate}}</button></a>
  </div>
  <div class="skills-grid">
    @for (skill of skillsService.skills; track $index) {
      <div class="skill-item">
        <img src="./../../../assets/img/3_my_skills_section/{{skill.icon}}" alt="{{skill.name}} icon" loading="lazy">
        <span>{{skill.name}}</span>
      </div>
    }
  </div>
  <div class="skills-text">
    <div>
      <h1 [class.german]="isGerman">{{'my_skills_h1' | translate}}</h1>
      <div></div>
    </div>
    <p>{{'my_skills_p' | translate}}</p>
    <div>
      <a href="#contact_section"><button>{{'my_skills_button' | translate}}</button></a>
    </div>
  </div>
</section>
